/* body color */
body{
    background-color:#4d47ff2a;
}
/* Raleway font download */
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Inter font download */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* navbar section */
nav ul li{
    list-style: none;
    margin-right: 150px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
}
.primary-color{
    color: #4E47FF;
}
.logo{
    font-size: 34px;
    font-weight: 900;
}
.btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px ;
}
.btn-font{
    font-size: 16px;
    font-weight: bold;
}
/* Banner section */
.heading{
    font-size: 65px;
    font-weight: bold;
    margin-top: 208px;
}
/* stay focussed btn */
.stay-focused{
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px ;
    margin-bottom: 152px;
}
div{
    text-align: center;
}
/* Header background */
header{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
}
/* Action section */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
}
.pic{
    width: 403px;
    height: 328;
    border-radius: 48px;
    margin-right: 159px;
}
.content{
    margin-left: 141px;
    padding: 23px;
    text-align: left;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
}
.action-description{
    font-size: 24px;
    color: #2524327e;
    text-align: left;
}
.btn-a{
    font-size: 16px;
    font-weight: bold;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* Productive user section */
.productive-user{
    background-color: #4d47ff49;   
    border-radius: 24px;
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0 40px 0;
}
.item-title{
    font-size: 80px;
    font-weight: bold;
}
.item-description{
    font-size: 20px;
    color: #00000067;
    margin-top:0px;
    margin-bottom: 40px;
    padding: 0px;
}
.user-items{
    display: flex;
    justify-content: space-between;
    margin-left: 142px;
    margin-right: 142px;
    margin-top: 40px;
}
/* Lets get in touch section */
.lets-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lets-title{
    font-size: 97px;
    font-weight: bold;
    text-align: center left;
}
/* Form section */
form{
    width: 300px;
    margin: 20px auto;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 19px;
    text-align: left;
}
.form-section{
    margin-top: 141px;
    margin-left: 150px;
}
label{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}
input{
    font-size: 20px;
    border-radius: 10px;
    width: 497px;
    height: 70px;
    text-align: center;
   border: none;
}
   
.get-btn{
    font-size: 16px;
    font-weight: bold;
    color:#FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    width: 497px;
    height:62px;
    margin-top: 19px;
}
textarea{
    border: none;
    outline: none;
    border-radius: 10px;
   width: 497px;
   height: 135px;
    background-color: #FFFFFF;
    font-size: 20px;
}
/* Footer section */

.website-name{
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 8px;
    padding-top: 104px;
}
.subtitlef{
    color: #8987A1;
    font-size: 20px;
}
.f-section{
        background-color: #FFFFFF;
        text-align: center;
        margin-top: 104px;
}
.f-items{
    color: #8987A1;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
   margin-left: 520px;
   margin-right: 520px;
   padding-bottom: 103px;
   padding-top: 0px;
}
